html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#page {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url('./images/dreamhouse-background.png');
}

#title {
    flex: 1 1 auto;
    padding-top: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 60%;
}

#title .image {
    height: 165px;
    width: 425px;
}

#loading-panel {
    flex: 0 0 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#loading-panel .process {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 30px;
    border: 2px solid white;
    box-shadow: 1px 1px 3px #000000;
    overflow: hidden;
    border-radius: 25px;
    color: white;
    position: relative;
}

#loading-panel .process .current {
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    border-radius: 25px;
    background: linear-gradient(to top, #48AE20, #66C02A, #82D132)
}

#loading-panel .process .loading-text {
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    z-index: 1;
    letter-spacing: 5px;
    text-shadow: 1px 1px 5px #000;
}

#tips {
    flex: 0 0 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: monospace;
    font-size: 15px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 7px #000;
}


