
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#page {
    height: 100%;
    width: 100%;
    background-image: url('./images/dreamhouse-background.png');
}

#page #title {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    position: relative;
    top: 50px;
}

#page #title .icon {
    height: 165px;
    width: 425px;
}

#page #waiting {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#page #waiting .loading-panel {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    margin: 0;
    padding:0;
}

#page #waiting .loading-panel .process {
    width: 100%;
    height:100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    box-shadow: 2px 2px 2px #000;
    text-shadow: 1px 1px 1px #000;
    overflow: hidden;
    border-radius: 15px;
    color: white;
    position: relative;

}

#page #waiting .loading-panel .process .currate {
   position: absolute;
    left:0;
    width: 40%;
    float: left;
    height: 100%;
    background: #61BE28;
}

#page #waiting .loading-panel .process .loading-text {
    text-align: center;
}

#page #waiting .tips {
    position: absolute;
    top: 70px;
    color: white;
    text-shadow: 1px 1px 1px #000;
    font-family: monospace;
    font-size: 15px;
}

#page #waiting .loading-panel .loading-text {
    font-size: 20px;
    font-family: monospace;
    z-index: 1;
}